<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/assets/images/logo.png" alt="Logo" height="40">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/userhome">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Category
            </a>
            <% console.log(categories); %>
            <ul class="dropdown-menu">
              
              <% categories.forEach(category => { %>
                <% if (!category.isBlocked) { %>
                  <li><a class="dropdown-item" href="/products/<%= category.categoryName %>"><%= category.categoryName %></a></li>
                <% } %>
                <% }); %>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacts</a>
          </li>
        </ul>
        <!-- <form class="d-flex" action="/search" method="GET"> 
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query"> 
          <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
      <form id="searchForm" class="d-flex ms-auto" onsubmit="search(); return false;">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchInput">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
        <div class="icons">
          <a href="/profile">
            <i class="fa fa-user text-dark" aria-hidden="true"></i>
          </a>
          <a href="/cart">
            <i class="fa fa-shopping-cart text-dark" aria-hidden="true"></i>
          </a>
          <a href="/wishlist">
            <i class="fa fa-heart text-dark" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>



  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- <script>
    $(document).ready(function() {
      
        $('form').submit(function(event) {
            event.preventDefault(); 
            
            const query = $('input[name="query"]').val(); 
            console.log(query,"...........................")
            
            $.get('/search', { query: query }, function(data) {
                
                $('#searchResults').html(data);
            });
        });
    });
</script> -->

<script>
  function search() {
const searchInput = document.getElementById('searchInput');
const searchTerm = searchInput.value;

// Construct the URL with the search term
const url = `/search?q=${searchTerm}`;

// Redirect to the search results page
window.location.href = url;

// Prevent the form from submitting in the traditional way
return false;
}

</script>
