<!-- Footer Section -->
<footer class="container-fluid bg-light py-4">
    <div class="container">
      <div class="row">
        <!-- Categories -->
        <div class="col-md-4 mb-3">
          <h5>Categories</h5>
          <ul class="list-unstyled">
            <li><a href="#">Backpacks</a></li>
            <li><a href="#">Handbags</a></li>
            <li><a href="#">Travel Bags</a></li>
          </ul>
        </div>
  
        <!-- Address -->
        <div class="col-md-4 mb-3">
          <h5>Address</h5>
          <address>
            Your Company Name<br>
            Street Address<br>
            City, State, ZIP Code<br>
            Country
          </address>
        </div>
  
        <!-- Social Media -->
        <div class="col-md-4 mb-3">
          <h5>Social Media</h5>
          <ul class="list-unstyled">
            <li><a href="#" target="_blank"><i class="fa fa-facebook text-dark"></i> Facebook</a></li>
            <li><a href="#" target="_blank"><i class="fa fa-twitter text-dark"></i> Twitter</a></li>
            <li><a href="#" target="_blank"><i class="fa fa-instagram text-dark"></i> Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  