<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>otp</title>
        <link rel="stylesheet" href="/user/css/form.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
       
        <script src="/user/script/script.js" defer></script>
        <style>
            .main {
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(117, 123, 123);
            }

            .login-card {
                max-width: 600px;
                width: 100%;

            }
        </style>

    </head>

    <body style="background-color: rgb(117, 123, 123);">
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center"
            style="margin-left: 400px;margin-top: 230px;">
            <div class="card login-card p-2">
                <div class="container d-flex justify-content-center align-items-center">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <form action="/reqotpvalidate" method="post"
                                class="OTP-form border border-dark border-2 p-4 mt-5" id="OTP-form"
                                style="width: 500px;">

                                <div class="card login-card p-2">
                                    <h4 class="mt-4 text-center text-head"><b>Please enter the OTP to verify your
                                            account</b>
                                        </h6>

                                        <% if (typeof error !=='undefined' ) { %>
                                            <div class="alert alert-danger" role="alert">
                                                <%= error %>
                                            </div>
                                            <% } %>




                                            <div id="otp" class="inputs input-field d-flex flex-row justify-content-center mt-">
                                                <input class="m-2 text-center form-control rounded" type="number" name="otp1" id="first" maxlength="1">
                                                <input class="m-2 text-center form-control rounded" type="number" name="otp2" id="second" maxlength="1">
                                                <input class="m-2 text-center form-control rounded" type="number" name="otp3" id="third" maxlength="1">
                                                <input class="m-2 text-center form-control rounded" type="number" name="otp4" id="fourth" maxlength="1">
                                            </div>
                                                <div class="button mt-3 mb-2"> <button class="btn-custom"
                                                        id="validateButton"
                                                        style="margin-left: 250px;">Validate</button>
                                                </div>
                                                <div
                                                    class="content d-flex justify-content-center align-items-center mb-5">
                                                    <span id="countdownText">otp will expire in <span
                                                            id="countdown">120</span>
                                                        seconds</span>
                                                    <a href="/resendOtp" class="text-decoration-none ms-3"
                                                        id="resend-otp"></a>
                                                </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const inputs = document.querySelectorAll(".inputs input");
                console.log(inputs)
                const validateButton = document.getElementById('validateButton');
                const countdownText = document.getElementById('countdownText');
                const countdown = document.getElementById('countdown');
                const resend = document.getElementById('resend-otp')
                let timer = 120; 
    
                function updateCountdown() {
                    countdown.textContent = timer;
                    if (timer <= 0) {
                        clearInterval(countdownInterval);
                        countdownText.style.display = 'none';
                        resend.innerHTML = "resend otp "
                    }
                    timer--;
                }
    
                updateCountdown();
    
                const countdownInterval = setInterval(updateCountdown, 1000);
                validateButton.addEventListener('click', function () {
                    const otp = Array.from(inputs).map(input => input.value).join('');
                    const formBody = {
                        otp: otp
                    }
                    console.log(formBody);
                    fetch('/user/otp', {
    
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(formBody),
                    })
                        .then(response => { console.log(response); return response.json(); })
                        .then(data => {
                            if (data.status) {
                                window.location.href = '/user/pass-change';
                            } else if (!data.status) {
                                document.getElementById("errormessage").textContent = data.error;
                            }
                        })
                        .catch(error => {
                            console.log("------------------------");
                            console.error('Error sending OTP:', error);
                        });
                });
            });
        </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const inputs = document.querySelectorAll(".inputs input");
    
            inputs.forEach((input, index) => {
                input.addEventListener('input', function () {
                    if (input.value.length === 1 && index < inputs.length - 1) {
                        inputs[index + 1].focus();
                    }
                });
    
                input.addEventListener('keypress', function (event) {
                    const keyCode = event.keyCode || event.which;
                    const isValidKey = /\d/.test(String.fromCharCode(keyCode));
                    if (!isValidKey) {
                        event.preventDefault();
                    }
                });
            });
        });
    </script>

    </body>