<!-- <%- include('header')-%>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid" style="height: 75px;">
        <a class="navbar-brand" href="#">
            <img src="/assets/images/logo.png" alt="Logo" class="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="#">About</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Handbags</a>
                        <a class="dropdown-item" href="#">Travel Bags</a>
                        <a class="dropdown-item" href="#">Wallets</a>
                    </div>
                </li> -->

                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu transparent-dropdown" aria-labelledby="navbarDarkDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="#">Contacts</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="icons text-dark">
                <a href="#">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</nav>

<div style="height: 150px;"></div>

 -->



<!-- Image Banner with Bootstrap Classes  -->
<!-- <div class="banner">
    <img src="/assets/images/b2.jpg" class="img-fluid" alt="Banner Image">
</div> -->

<!-- new arrivals -->
<!-- <div class="container mt-5">
    <h2 class="text-center mb-4">New Arrivals</h2>

    <div class="row"> -->
        <!-- Product 1 -->
        <!-- <div class="col-lg-4 col-md-6 product">
            <img src="/assets/images/h3.webp" class="img-fluid" alt="Product 1">
            <h4 class="mt-2">Women's Handbag</h4>
            <p>Mammon Women's PU Leather Handbag Combo</p>
        </div> -->

        <!-- Product 2 -->
        <!-- <div class="col-lg-4 col-md-6 product">
            <img src="/assets/images/h3.webp" class="img-fluid" alt="Product 2">
            <h4 class="mt-2">Women's Handbag</h4>
            <p>Mammon Women's PU Leather Handbag Combo</p>
        </div> -->

        <!-- Product 3 -->
        <!-- <div class="col-lg-4 col-md-6 product">
            <img src="/assets/images/h3.webp" class="img-fluid" alt="Product 3">
            <h4 class="mt-2">Women's Handbag</h4>
            <p>Mammon Women's PU Leather Handbag Combo</p>
        </div>
    </div> -->

    <!-- <div class="row"> -->
        <!-- Product 4 -->
        <!-- <div class="col-lg-4 col-md-6 product">
            <img src="/assets/images/h3.webp" class="img-fluid" alt="Product 4">
            <h4 class="mt-2">Women's Handbag</h4>
            <p>Mammon Women's PU Leather Handbag Combo</p>
        </div> -->

        <!-- Product 5 -->
        <!-- <div class="col-lg-4 col-md-6 product">
            <img src="/assets/images/h3.webp" class="img-fluid" alt="Product 5">
            <h4 class="mt-2">Women's Handbag</h4>
            <p>Mammon Women's PU Leather Handbag Combo</p>
        </div> -->

        <!-- Product 6 -->
        <!-- <div class="col-lg-4 col-md-6 product">
            <img src="/assets/images/h3.webp" class="img-fluid" alt="Product 6">
            <h4 class="mt-2">Women's Handbag</h4>
            <p>Mammon Women's PU Leather Handbag Combo</p>
        </div>
    </div>
</div> -->

<!-- banner -->
<!-- <div class="row banner">
    <div class="col-md-12">
        <img src="/assets/images/b3.jpg" class="img-fluid" alt="Banner 1">
    </div>
</div> -->

<!-- new trends -->


<!-- <div class="container mt-5">
    <h2 class="text-center mb-4">New Trends</h2>

    <div class="row"> -->
        <!-- Product 1 -->
        <!-- <div class="col-lg-4 col-md-6 product">
            <img src="/assets/images/travel.jpg" class="img-fluid" alt="Product 1">
            <h4 class="mt-2">Travel Bags</h4>
            <p>Lavie Sport Lino Wheel Duffel Bag | 2 Wheel Duffle Bag | Built to Last Wheels and Trolley</p>
        </div> -->

        <!-- Product 2 -->
        <!-- <div class="col-lg-4 col-md-6 product">
            <img src="/assets/images/travel.jpg" class="img-fluid" alt="Product 2">
            <h4 class="mt-2">Travel Bags</h4>
            <p>Lavie Sport Lino Wheel Duffel Bag | 2 Wheel Duffle Bag | Built to Last Wheels and Trolley</p>
        </div> -->

        <!-- Product 3 -->
        <!-- <div class="col-lg-4 col-md-6 product">
            <img src="/assets/images/travel.jpg" class="img-fluid" alt="Product 3">
            <h4 class="mt-2">Travel Bags</h4>
            <p>Lavie Sport Lino Wheel Duffel Bag | 2 Wheel Duffle Bag | Built to Last Wheels and Trolley</p>
        </div>
    </div>
</div>

<div class="container mt-5">


    <div class="row"> -->
        <!-- Product 1 -->
        <!-- <div class="col-lg-4 col-md-6 product">
            <img src="/assets/images/travel.jpg" class="img-fluid" alt="Product 1">
            <h4 class="mt-2">Travel Bags</h4>
            <p>Lavie Sport Lino Wheel Duffel Bag | 2 Wheel Duffle Bag | Built to Last Wheels and Trolley</p>
        </div> -->

        <!-- Product 2 -->
        <!-- <div class="col-lg-4 col-md-6 product">
            <img src="/assets/images/travel.jpg" class="img-fluid" alt="Product 2">
            <h4 class="mt-2">Travel Bags</h4>
            <p>Lavie Sport Lino Wheel Duffel Bag | 2 Wheel Duffle Bag | Built to Last Wheels and Trolley</p>
        </div> -->

        <!-- Product 3 -->
        <!-- <div class="col-lg-4 col-md-6 product">
            <img src="/assets/images/travel.jpg" class="img-fluid" alt="Product 3">
            <h4 class="mt-2">Travel Bags</h4>
            <p>Lavie Sport Lino Wheel Duffel Bag | 2 Wheel Duffle Bag | Built to Last Wheels and Trolley</p>
        </div>
    </div>
</div> -->


<!-- Footer -->
<!-- <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Categories</h4>
                <ul>
                    <li>Handbags</li>
                    <li>Luggage</li>
                    <li>Backpack</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Contact Us</h4>
                <p>Address: Arshia Valsan<br>Sreepadmam(ho)<br>Puthuppanam<br>Vatakara,Kozhikkode</p>
                <p>Email: arshia@email.com</p>
                <p>Phone:  1234567890</p>
            </div>
            <div class="col-md-4">
                <h4>Social Media</h4>
                <ul>
                    <i class="fa fa-facebook-official" aria-hidden="true">Facebook</i><br>
                    <i class="fa fa-twitter-square " aria-hidden="true">Twitter</i><br>
                    <i class="fa fa-instagram " aria-hidden="true">Instagram</i>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script>
    function toggleMenu() {
        var navMenu = document.querySelector('.nav-menu');
        navMenu.classList.toggle('visible');
    }
</script> -->

<!-- <%- include('footer')-%>  -->


